@charset "UTF-8";

/*----------common----------*/
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family : "メイリオ",'Source Sans Pro', Verdana, "Hiragino Kaku Gothic ProN", "游ゴシック",YuGothic, Meirio, sans-serif;
    text-align: center;
  }

  a{
    text-decoration: none;
    color: #000;
  }

  ul{
    margin-left: -20px;
  }

  li{
    list-style: none;
    margin-left: -20px;
  }

  .clearfix::after{
    content: "";
    display: block;
    clear: both;
  }


/*-----------------------PC-----------------------*/
/*----------main----------*/

  main{
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 200px;
  }

  .container-ja{
    margin: 0 auto;
    width: 75%;
    text-align: left;
  }

  .contents{
    margin-left: 20px;
    margin-top: 25px;
  }

  .name{
    font-size: 19px;
/*    font-weight: bold;*/
  }

  .midashi{
/*    text-decoration: underline;*/
    background: linear-gradient(transparent 60%, #ff0 0%);
    margin-top :25px;
    margin-bottom: 10px; 
    font-size: 15px;
  }

  .year1{
    font-size: 14px;
    display: inline;
  }

  .text1{
    font-size: 14px;
/*    display: inline;*/
  }


/*-----------------------SP-----------------------*/
/*----------main----------*/
@media all and (max-width: 750px) { 


  .biography-box{
    width: 75%;
    margin: 0 auto;
    margin-top: 250px;
    font-size: 15px;
  }

  
}